body {
	background: #ffffff;
	font: normal 12pt arial;
	color: #000000;
}

p {
	font-family: 'Libre Franklin', sans-serif;
	font-size: 14pt;
	color: #000000;
}

h1 {
	font-family: 'Spectral', serif;
	font-size: 24pt;
	color: #4056A1;
}

h2 {
	font-family: 'Spectral', serif;
	font-size: 18pt;
	color: #F13C20;
}